@model IEnumerable<WebAPP.Models.UserMessageVM>

@{
    ViewData["Title"] = "Index";
}

<h1>User feedback</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserMessageId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
