@model IEnumerable<WebAPP.Models.ReservationVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservation list</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfDays)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReservationID }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (ViewBag.TotalPages > 1)
        {
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)" asp-route-size="@(ViewBag.PageSize)" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </span>
                </li>
            }

            @for (int i = ViewBag.FromPager; i <= ViewBag.ToPager; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-size="@(ViewBag.PageSize)">
                        @i
                    </a>
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)" asp-route-size="@(ViewBag.PageSize)" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </span>
                </li>
            }
        }
    </ul>
</nav>
